text-graph-generator/input/*.txt
*.pyc
text-graph-generator/output/1_process_files/*.json
text-graph-generator/output/2_nodes_and_edges_files/*.json
text-graph-generator/output/3_graphs/*.pickle
text-graph-generator/output/4_select_nodes/*.csv
text-graph-generator/output/5_svg/*
text-graph-generator/output/6_animation/*.mp4
text-graph-generator/output/7_final

breaking_bricks/images/*
floaters/images/*

nearly_infinite/*.csv
nearly_infinite/*.json
nearly_infinite/*.txt
nearly_infinite/collection/*
nearly_infinite/data/*
nearly_infinite/story/*

supermarket_scan/*
text-graph-generator/input.zip
text-graph-generator/output.zip
