text-graph-generator/input/*.txt
*.pyc
text-graph-generator/output/1_process_files/*.json
text-graph-generator/output/2_nodes_and_edges_files/*.json
text-graph-generator/output/3_graphs/*.pickle
text-graph-generator/output/4_select_nodes/*.csv
text-graph-generator/output/5_svg/*.png
text-graph-generator/output/5_svg/*.svg
text-graph-generator/output/6_animation/*.mp4
text-graph-generator/output/7_final
